version: '3.8'

services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-portfolio}
      POSTGRES_USER: ${POSTGRES_USER:-portfolio}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-portfolio}
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - dokploy-network

  api:
    build: .
    restart: unless-stopped
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+psycopg2://${POSTGRES_USER:-portfolio}:${POSTGRES_PASSWORD:-portfolio}@db:5432/${POSTGRES_DB:-portfolio}
      user: ${APP_USER:-german}
      password: ${APP_PASSWORD:-barbas1213}
    networks:
      - dokploy-network

volumes:
  pg_data:

networks:
  dokploy-network:
    external: true
