# Use root/example as user/password credentials
version: '3.1'

networks:
  api_network:
    external: false

services:
  database:
      container_name: database
      image: mysql
      restart: always
      ports:
        - "3307:3306"
      volumes:
        - ./mysql_data:/var/lib/mysql
      environment:
        MYSQL_ROOT_PASSWORD: "${MYSQL_PASSWORD}"
        MYSQL_DATABASE: "${MYSQL_DATABASE}"

      networks:
        - api_network
  api:
    depends_on:
      - database
    build: .
    container_name: api
    ports:
      - 8000:8080
    restart: unless-stopped
    networks:
      - api_network
